/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #006600;
    color: white;
}

/* Add a black background color to the top navigation */
#secondnav {
    overflow: hidden;
    display: block;
    color: #f2f2f2;
    padding: 4px 5px;
    text-decoration: none;
    font-size: 14px;
    background-color: #006600;
}

/* Style the links inside the navigation bar */
#secondnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
#secondnav a:hover {
    background-color: green;
    color: black;
}


#banner {
    z-index:-1;
    overflow:hidden;
}

/* Add margin to page */
/*p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
*/
.mainbody {  
	padding: 1em; 
}

.fixed-bg {
    background-image: url("img/sag4.jpg");
    height: 150px;
    width:100%;
    top:0;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat;
    background-size: contain;
}

body {
    font-family: "Fira Sans", Georgia;
}
 
 h1 {
    font-size: 24pt;
 }
 
  h2 {
    font-size: 20pt;
 }
 
  h3 {
    font-size: 28pt;
    font-weight: bold;
 }
 
  h4 {
    font-size 15pt;
    font-weight: bold;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr{
    background-color: #ffffff;
}